body{
	background-image:url("./images/background.png");
	font-size: 8pt;
	font-family: "Verdana", "Tahoma", sans-serif;
}
p{
	background-color:transparent;
}
.bannerBackground{
	background-image:url("./images/bannerbg.png");
	background-repeat: repeat-x;
	width: 100%;
	text-align: center;
	
}
h1{
	font-family: Tahoma, Verdana, sans-serif;
	text-shadow: 3px 3px #999999;
	text-align: center;
}
div.containerMain{
	width: 800px;
	margin: auto;
	border-radius: 20px;
	padding: 20px;
	border-width: 4px;
	color: gray;
	border-style: solid;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	height: 1000px;
	
}
.subbannerBackground{
	background-image:url("./images/rbg.png");
	background-repeat: repeat;
	width: 100%;
	text-align: left;
	font-size: 20pt;
	color: red;
	font-weight: bold;
	
}

div.containerRight{
	float: right;
	width: 250px;
	background-color: #A2B964;
	padding: 10pt;
	font-family: Arial, sans-serif;
	font-size: 8pt;
}
dt{
	font-weight: bold;
}
dl{
	margin-top: 10px;
}
ul{
	list-style-type: none;
}

div.containerleft{

	font-family: Arial, sans-serif;
	padding: 10pt;
}
div.reviewbox{
	width:25%;
	float:left;
	padding: 16px;
}
.review{
	background-color:#E8DC9B;
	width:100%;
	float:left;
	font-size: 8pt;
	border-width: 2px;
	border-radius: 10px;
	border-color: grey;
	border-style: solid;
	padding: 8px;
}
